<div class="icon-links">
  {{ partial "social_links.html" . }} 
</div>

<div class="copyright">
  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      {{/* icon heart */}}
      <i class="iconfont">
        {{ partial "svg/heart.svg" }}
      </i>
    </span>
    {{- if or .Site.Copyright .Site.Author.name -}}
      <span class="author">
        {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}
        {{ else }}{{ .Site.Author.name | safeHTML }}
        {{ end }}
      </span>
    {{- end -}}
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278714977'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278714977%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
  </span>

  <!-- Counter busuanzi -->
  {{ if .Site.Params.counter.busuanzi.enable }}
    <span id="busuanzi_container">
      访客数/访问量：<span id="busuanzi_value_site_uv"></span>/<span id="busuanzi_value_site_pv"></span>
    </span>
  {{ end }}

  {{ if .Site.Params.customFooter }}
    <span>
      {{ .Site.Params.customFooter | safeHTML }}
    </span>
  {{ end }}
</div>
